
<html>
    <head>
        <style>
            .container {
                padding-top: 30px;
            }

            .big-label {
                font-size: 20px;
            }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="http://faviconist.com/icons/a4da5758b016ca4b8c17d78c77729759/favicon.ico"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1 id="name">{{ name }}</h1>
                    <div class="row">
                        <button onclick="stopButtonPressed()" id="stopButton" style="width:100%;" class="btn btn-primary">Start</button>
                    </div> <br>
                    <div class="row">
                        <button onclick="calibrateButtonPressed()" id="calibrateButton" style="width:100%;" class="btn btn-primary">Calibrate</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/sensor.js"></script>
    </body>
</html>
